<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ticket</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Information of the ticket</h1>
    <p>description:</p>
    <p><%= currentTicket.description %></p>
    <p>priority:</p>
    <p><%= currentTicket.priority %></p>
    <p>status:</p>
    <p><%= currentTicket.status %></p>
    <a href="/users/<%= user._id %>/projects/<%= project._id %>/tickets">back to the tickets</a>
    <a href="/users/<%= user._id %>/projects/<%= project._id %>/tickets/<%= currentTicket._id %>/edit">Edit this ticket</a> 

    <form
      action="/users/<%= user._id %>/projects/<%= project._id %>/tickets/<%= currentTicket._id %>?_method=DELETE"
      method="post">
      <button type="submit">Delete this ticket</button>
    </form>
</body>
</html>