<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My projects</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css"
    />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="p-2">
        <a href="/users/<%= user._id %>/projects/new">Add a project</a>
    </div>
    <section class="section">
        <div class="contianer">
            <% if ( projects.length == 0 ) { %>
                <h1 class="title has-text-centered">You don't have any projects!</h1>
            <% } else { %>
                <div class="columns is-multiline">
                    <% projects.forEach((project) => { %>
                    <div class="column is-one-third">
                        <div class="card has-background-link">
                            <a href="/users/<%= user._id %>/projects/<%= project._id %>">
                                <div class="card-content">
                                    <div class="content-left has-text-light">
                                        Project name: <%= project.name %>
                                    </div>
                                    <div class="content-right has-text-light">
                                        Project owner: @<%= project.owner.username %>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <% } %>
        </div>
    </section>

</body>
</html>